{% extends 'base.html' %}
{% load static %}
{% block content %}  <!-- Change from 'Service' to 'content' for standardization -->
<section class="bg-gray-100 py-12">
  <div class="container mx-auto px-6 md:px-12 lg:px-24">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-12">Our Services</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
      {% for service in services %}
        {% if service.link_url_name %}
          <a href="{% url service.link_url_name %}" class="block bg-white rounded-lg shadow-md overflow-hidden transform hover:-translate-y-2 transition duration-300 hover:shadow-lg">
        {% else %}
          <a href="#" class="block bg-white rounded-lg shadow-md overflow-hidden transform hover:-translate-y-2 transition duration-300 hover:shadow-lg">
        {% endif %}
            <img src="{{ service.image.url }}" alt="{{ service.title }}" class="h-64 w-full object-cover">
            <div class="p-6">
              <h3 class="text-xl font-bold mb-2">{{ service.title }}</h3>
              <p class="text-gray-700">{{ service.description }}</p>
            </div>
          </a>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
